<!DOCTYPE html>
{% extends "basic_app/base.html" %}
<!-- always of form: extends "template_directory_path/file_name.html" -->
    <!-- <a href="{% url 'basic_app:relative' %}">RELATIVE</a>
    <a href="{% url 'index' %}">HOME</a>
    <a href="{% url 'admin:index' %}">ADMIN</a> -->
        <!-- note that this tag uses the convention: app_name:path_name, both of which are defined in the app urls file -->
    {% block body_block %}
        <!-- what is between these blocks will be in the place of body_block on base.html, the file we are extending
            this one with.
        -->
        <h1>WELCOME TO OTHER!</h1>
        <h2>This is an example of template inheritance!</h2>
    {% endblock %}
